/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ********** END OF RESET ********** */

.App {
  // margin: 1rem 0;
  background-color: rgb(69,80,165);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62.5%;
  color: white;
}

h1{
  font-size: 3rem;
  color: black;
}

h2{
  font-size: 2rem;
  color:black;
}

h3{
  font-size: 1.2rem;
  color:black;
}

a, p{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

img{
  height: 128px;
  width: 128px;
}

.header{
  padding-top: 2rem;
  text-justify: center;
  background-color: red;
  width: 100vw;
  height: 5rem;
}

.allPokemon{
  min-height: 100vh;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(9, auto); 
}

.searchBar{
  margin: 1rem 0;
  background-color: rgb(69,80,165);

  input{
    margin: 0;
    font-size: 1.3rem;
    height: 2rem;
  }

  button{
    margin: 0;
    font-size: 1.3rem;
    height: 2.5rem;
    border: 1px solid black;
    background-color: red;
  }
}

.searchHistory{
  display: grid;
  grid-template-columns: repeat(5, auto); 
}

.pokemonSingle{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.backButton{
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border: 1px solid black;
  background-color: red;
}

.general{
  margin: 1rem 0 2rem 0;
  padding: 0 0 1.5rem 0;
  width: 12rem;
  background-color: #ffffff;
  border: 1px solid black;

  button{
    color: #ffffff;
  }
}

.locations{
  background-color: #ffffff;
  border: 1px solid black;
  margin: 0 0 2rem 0;
  padding: 1rem 1rem;
  width: 80%;

  .location{
    display: grid;
    grid-template-columns: repeat(4, auto); 
    padding: 1rem 1rem;
    font-size: 1.2rem;
    
    
    p{
      margin: .5rem .5rem;
    }
  } 
}
.details{
  margin: 0 0 1rem 0;
  width: 70%;

  .moves{
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    .abilityList{
      padding: 1rem 1rem;
      background-color: #ffffff;
      border: 1px solid black;
      width: 14rem;

    }

    .moveList{
      padding: 1rem 1rem;
      background-color: #ffffff;
      border: 1px solid black;
      width: 14rem;
    }
  }
}

.details2{
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .gender{
    padding: 1rem 1rem;
    background-color: #ffffff;
    border: 1px solid black;
    width: 14rem;
  }

  .varieties{
    padding: 1rem 1rem;
    background-color: #ffffff;
    border: 1px solid black;
    width: 14rem;
  }
}

.evolution{
  margin-bottom: 2rem;
  width: 70%;

  .buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    .button{
      font-size: 1.3rem;
      padding: .5rem 1rem;
      border: 1px solid black;
      background-color: red;
    }

    .multipleButton{
      display: grid;
      grid-template-columns: repeat(3, auto);
      
      .button{
      font-size: 1.3rem;
      padding: .5rem 1rem;
      margin: .3rem;
      border: 1px solid black;
      background-color: red;
      }
    }
  }

  .noEvolution{
      padding: .5rem 1rem;
      border: 1px solid black;
      background-color: red;
  }
}